.DS_Store
.project
.buildpath
.svn/*
.settings/*
cache/*
log/*
output/*
.tmp*
!cache/.gitignore
config/databases.yml
config/client.yml
config/settings/*
!config/settings/.gitignore
web/data/*
data/lucene/*
apps/frontend/config/app.yml
web/index.php
apps/frontend/templates/_globalTemplate/config/config.dat
apps/frontend/templates/_globalTemplate/config/global.php
apps/frontend/templates/_globalTemplate/lib/functions.php
apps/frontend/templates/_globalTemplate/templates/header.php
apps/frontend/templates/_globalTemplate/templates/footer.php
apps/frontend/templates/_globalTemplate/templates/socialbox.php
